footer.footer
   .footer__inner.container
      a.footer__logo.logo(href="#")
         span.logo__title 4BLOGERS
      .footer__info
         .footer__info-sec
            h3.footer__info-title Шоурум
            address.footer__address.
               Каждый день #[br]
               11:00 – 20:00 #[br]
               м. Курская #[br]
               Нижний Сусальный переулок, #[br]
               5с4, подъезд 8
            a.footer__btn(href="#") Онлайн тур
         .footer__info-sec
            h3.footer__info-title Полезная информация
            nav.footer__nav
               ul.footer__nav-menu
                  li
                     a(href="#") Доставка и оплата
                  li
                     a(href="#") Гарантия и возврат
                  li
                     a(href="#") Шоурум
                  li
                     a(href="#") Статьи