header.header
   h1.visually-hidden 4BLOGERS
   .header__inner
      .header__menu
         button.header__burger
            span.visually-hidden открыть меню
            svg
               use(href="images/sprites/main.stack.svg#svg-burger")
      a.header__logo.logo(href="#")
         span.logo__title 4BLOGERS
      .header__right
         form.header__search(action="#")
            button.header__search-btn
               span.visually-hidden открыть поиск
               svg
                  use(href="images/sprites/main.stack.svg#svg-loop")
         a.header__cart(href="#")
            span.visually-hidden Открыть корзину товаров
            svg
               use(href="images/sprites/main.stack.svg#svg-basket")
            span.lot 10
