section.menu
   h2.visually-hidden Меню сайта
   .menu__top
      a.logo(href="#")
         span.logo__title 4BLOGERS
      button.menu__close
         span.visually-hidden Закрыть меню
         img(src="images/icons/menu-close.svg" alt="иконка" width="32" height="32")
   nav.menu__nav
      ul.menu__nav-list
         li.menu__nav-item
            a.menu__nav-link.menu__nav-toggle(href="#") Каталог #[img.menu__nav-arrow(src="images/icons/arrow-right.svg" alt="иконка" width="20" height="20")]
            ul.menu__nav-submenu
               li.menu__nav-submenu__item
                  a(href="#") Каталог
               li.menu__nav-submenu__item
                  a(href="#") Каталог
               li.menu__nav-submenu__item
                  a(href="#") Каталог
               li.menu__nav-submenu__item
                  a(href="#") Каталог
         li.menu__nav-item
            a.menu__nav-link(href="#") Каталог

.overlay