nav.navigate
   ul.navigate__list
      li.navigate__item
         a.navigate__link.svg-fill.navigate__link--active(href="#")
            .navigate__top
               svg.navigate__icon
                  use(href="images/sprites/main.stack.svg#svg-home")
            h3.navigate__title Главная
      li.navigate__item
         a.navigate__link(href="#")
            .navigate__top
               svg.navigate__icon
                  use(href="images/sprites/main.stack.svg#svg-element")
            h3.navigate__title Каталог
      li.navigate__item
         a.navigate__link.svg-fill(href="#")
            .navigate__top
               svg.navigate__icon
                  use(href="images/sprites/main.stack.svg#svg-driver")
               span.lot 10
            h3.navigate__title Сравнение
      li.navigate__item
         a.navigate__link(href="#")
            .navigate__top
               svg.navigate__icon
                  use(href="images/sprites/main.stack.svg#svg-wish")
               span.lot 10
            h3.navigate__title Избранное
      li.navigate__item
         a.navigate__link(href="#")
            .navigate__top
               svg.navigate__icon
                  use(href="images/sprites/main.stack.svg#svg-person")
            h3.navigate__title Профиль