.title
   font-family: var(--firaSans)
   font-weight: 400
   font-size: 24px
   line-height: 120%

.main-title
   font-family: var(--robotoCond)
   font-weight: 400
   font-size: 24px
   line-height: 120%

.logo
   display: inline-block
   &__title
      font-weight: 400
      font-size: 24px
      line-height: 28px
      font-family: var(--robotoCond)

.btn
   display: inline-block
   padding: 5px 12px
   border: 1px solid rgba(0, 0, 0, 0.1)
   border-radius: 10px
   cursor: pointer
   background: #0083F1
   color: #fff
   font-family: var(--robotoCond)
   font-size: 12px
   line-height: 120%
   font-weight: 400
   text-align: center
   &--empty
      font-family: var(--firaSans)
      background: #fff
      color: #000
      border: 1px solid rgba(0, 0, 0, 0.5)
   &--catalog
      padding: 14px 24px
      font-family: var(--robotoCond)
      background: #fff
      color: #000
      border: 1px solid rgba(0, 0, 0, 0.5)
      font-size: 16px
      font-weight: 700
   &--cart
      width: 100%
      padding: 11px 24px
      font-size: 18px
      text-align: left
      border: 1px solid rgba(0, 0, 0, 0.5)
   &--shop
      padding: 14px 24px
      background: #fff
      color: #000
      border: 1px solid rgba(0, 0, 0, 0.5)
      font-weight: 700
      font-size: 16px
   &--wide
      @extend .btn--shop
      background: #0083F1
      color: #fff

.compare-btn
   --border-color: #EBEBEB
   padding: 6px 5px
   display: inline-flex
   align-items: center
   justify-content: center
   font-family: 'Roboto'
   font-weight: 300
   font-size: 12px
   border-radius: 5px
   border: 1px solid var(--border-color)
   cursor: pointer
   &__icon
      width: 16px
      min-width: 16px
      height: 16px
      margin-right: 12px
      border: 1px solid var(--border-color)
      border-radius: 5px

.choose-btn
   padding: 10px
   display: inline-flex
   justify-content: center
   align-items: center
   font-weight: 300
   font-size: 12px
   color: #0063F8
   cursor: pointer
   &__icon
      width: 20px
      min-width: 20px
      height: 20px
      margin-right: 4px
      display: inline-flex
      justify-content: center
      align-items: center
      border-radius: 50%
      background: #C4C4C4
      border-radius: 50%
      color: #fff
      font-size: 12px

.field
   width: auto
   padding: 5px 8px
   border-radius: 10px
   font-size: 12px
   line-height: 120%
   font-weight: 400
   font-family: var(--firaSans)
   background: #fff
   color: #000
   border: 1px solid rgba(0, 0, 0, 0.5)
   text-align: center
   box-sizing: content-box
   &::placeholder
      text-align: center
      color: #000
   &:focus::placeholder
      color: transparent

.choose
   &__item
      margin-bottom: var(--mainMargin)
      &:last-child
         margin-bottom: 0
   &__label
      padding: 12px
      display: flex
      align-items: center
      border: 1px solid rgba(0, 0, 0, 0.1)
      border-radius: 10px
      cursor: pointer
   &__radio
      width: 15px
      min-width: 15px
      height: 15px
      margin-right: 24px
      border-radius: 50%
      background: #C4C4C4
      position: relative
      &::after
         content: ''
         position: absolute
         top: 50%
         left: 50%
         transform: translate(-50%, -50%)
         width: 5px
         height: 5px
         border-radius: 50%
         background: #0083F1
         opacity: 0
         transition: opacity .2s ease
   &__info
      flex-grow: 1
      font-family: var(--robotoCond)
      display: flex
      flex-direction: column
      align-items: flex-start
   &__title
      font-size: 16px
   &__desc
      font-size: 10px
      line-height: 100%
      color: #858784
   &__price
      font-family: var(--firaSans)
      font-size: 12px
      padding-left: 18px
   input
      display: none
      &:checked ~ .choose__radio::after
         opacity: 1

.selector
   padding: 5px 26px
   position: relative
   font-family: var(--firaSans)
   font-weight: 400
   font-size: 12px
   line-height: 120%
   background: #fff
   border: 1px solid rgba(0, 0, 0, 0.5)
   border-radius: 10px
   white-space: nowrap
   cursor: pointer
   &__text
      position: relative
   &__delete
      display: none
      position: absolute
      right: -14px
      top: 50%
      transform: translateY(-50%)
      img
         display: block
   &--active
      color: #fff
      background: #0083F1
      border-color: #0083F1
      .selector
         &__delete
            display: block
   &--disabled
      color: #C9C9C9

.sec
   margin-bottom: var(--mainMargin)

.status
   padding: 3px 12px
   display: inline-flex
   background: #C4C4C4
   font-weight: 400
   font-size: 12px
   text-align: center
   color: #fff
   border-radius: 10px
   border: 1px solid rgba(0, 0, 0, 0.1)
   font-family: var(--robotoCond)
   &--work
      background: #55C55A
   &--delivery
      background: #0083F1
   &--received
      background: #000
   &--canceled
      background: #E85E5E

.selected
   &__btn
      padding: 15px 25px
      display: inline-flex
      align-items: center
      background: #fff
      border-radius: 25px
      font-size: 20px
      font-family: var(--robotoCond)
      &-text
         margin: 0 23px
      &-arrow
         margin-left: auto

.swiper
   &-button
      &-prev,
      &-next
         width: 64px
         height: 64px
         background: #005FAE
         border-radius: 50%
         &::after
            color: #fff
            font-size: 18px
      &-disabled
         background: #0083F1
         opacity: 1 !important
         pointer-events: auto !important

@media screen and (min-width: 500px)
   .btn
      &--cart
         text-align: center

@media screen and (min-width: $desktop)
   .main-title
      font-size: 28px
   .choose
      &__price
         padding-left: 12px
