@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-svg-arrow {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: math.div(80, 15)*100% auto;
	width: 15px;

}
@mixin svg-pos-svg-arrow {
	background-position: 100% 0;
}
@mixin svg-svg-arrow-hover {
	.svg-svg-arrow {
		@include svg-pos-svg-arrow-hover
	}
}

.svg-svg-arrow:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(13, 15)*100%;
}

.svg-svg-arrow-dims {
	width: 15px;
	height: 13px;
}

.svg-svg-arrow-down {
	@extend %svg-common;
	background-position: 98.48484848484848% 26.53061224489796%;
	background-size: math.div(80, 14)*100% auto;
	width: 14px;

}
@mixin svg-pos-svg-arrow-down {
	background-position: 98.48484848484848% 26.53061224489796%;
}
@mixin svg-svg-arrow-down-hover {
	.svg-svg-arrow-down {
		@include svg-pos-svg-arrow-down-hover
	}
}

.svg-svg-arrow-down:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(9, 14)*100%;
}

.svg-svg-arrow-down-dims {
	width: 14px;
	height: 9px;
}

.svg-svg-basket {
	@extend %svg-common;
	background-position: 69.38775510204081% 0;
	background-size: math.div(80, 31)*100% auto;
	width: 31px;

}
@mixin svg-pos-svg-basket {
	background-position: 69.38775510204081% 0;
}
@mixin svg-svg-basket-hover {
	.svg-svg-basket {
		@include svg-pos-svg-basket-hover
	}
}

.svg-svg-basket:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(28, 31)*100%;
}

.svg-svg-basket-dims {
	width: 31px;
	height: 28px;
}

.svg-svg-burger {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(80, 34)*100% auto;
	width: 34px;

}
@mixin svg-pos-svg-burger {
	background-position: 0 0;
}
@mixin svg-svg-burger-hover {
	.svg-svg-burger {
		@include svg-pos-svg-burger-hover
	}
}

.svg-svg-burger:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(34, 34)*100%;
}

.svg-svg-burger-dims {
	width: 34px;
	height: 34px;
}

.svg-svg-close {
	@extend %svg-common;
	background-position: 94.20289855072464% 85.1063829787234%;
	background-size: math.div(80, 11)*100% auto;
	width: 11px;

}
@mixin svg-pos-svg-close {
	background-position: 94.20289855072464% 85.1063829787234%;
}
@mixin svg-svg-close-hover {
	.svg-svg-close {
		@include svg-pos-svg-close-hover
	}
}

.svg-svg-close:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(11, 11)*100%;
}

.svg-svg-close-dims {
	width: 11px;
	height: 11px;
}

.svg-svg-comment-arrow {
	@extend %svg-common;
	background-position: 36.92307692307692% 82.92682926829268%;
	background-size: math.div(80, 15)*100% auto;
	width: 15px;

}
@mixin svg-pos-svg-comment-arrow {
	background-position: 36.92307692307692% 82.92682926829268%;
}
@mixin svg-svg-comment-arrow-hover {
	.svg-svg-comment-arrow {
		@include svg-pos-svg-comment-arrow-hover
	}
}

.svg-svg-comment-arrow:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(17, 15)*100%;
}

.svg-svg-comment-arrow-dims {
	width: 15px;
	height: 17px;
}

.svg-svg-comment-arrow-bottom {
	@extend %svg-common;
	background-position: 60% 82.92682926829268%;
	background-size: math.div(80, 15)*100% auto;
	width: 15px;

}
@mixin svg-pos-svg-comment-arrow-bottom {
	background-position: 60% 82.92682926829268%;
}
@mixin svg-svg-comment-arrow-bottom-hover {
	.svg-svg-comment-arrow-bottom {
		@include svg-pos-svg-comment-arrow-bottom-hover
	}
}

.svg-svg-comment-arrow-bottom:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(17, 15)*100%;
}

.svg-svg-comment-arrow-bottom-dims {
	width: 15px;
	height: 17px;
}

.svg-svg-loop {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(80, 24)*100% auto;
	width: 24px;

}
@mixin svg-pos-svg-loop {
	background-position: 0 100%;
}
@mixin svg-svg-loop-hover {
	.svg-svg-loop {
		@include svg-pos-svg-loop-hover
	}
}

.svg-svg-loop:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(24, 24)*100%;
}

.svg-svg-loop-dims {
	width: 24px;
	height: 24px;
}

.svg-svg-minus {
	@extend %svg-common;
	background-position: 95.58823529411765% 66.0377358490566%;
	background-size: math.div(80, 12)*100% auto;
	width: 12px;

}
@mixin svg-pos-svg-minus {
	background-position: 95.58823529411765% 66.0377358490566%;
}
@mixin svg-svg-minus-hover {
	.svg-svg-minus {
		@include svg-pos-svg-minus-hover
	}
}

.svg-svg-minus:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(5, 12)*100%;
}

.svg-svg-minus-dims {
	width: 12px;
	height: 5px;
}

.svg-svg-plus {
	@extend %svg-common;
	background-position: 95.58823529411765% 48.888888888888886%;
	background-size: math.div(80, 12)*100% auto;
	width: 12px;

}
@mixin svg-pos-svg-plus {
	background-position: 95.58823529411765% 48.888888888888886%;
}
@mixin svg-svg-plus-hover {
	.svg-svg-plus {
		@include svg-pos-svg-plus-hover
	}
}

.svg-svg-plus:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(13, 12)*100%;
}

.svg-svg-plus-dims {
	width: 12px;
	height: 13px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }